<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse Kepler" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.feature.3rd.orbit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location path="/Users/Marcel/Downloads/eclipse-deltapack" type="Directory"/>
</locations>
</target>
