<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.example.miniscout.client.Perspective"
            id="com.example.miniscout.client.perspective">
      </perspective>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.miniscout.client.Application">
         </run>
      </application>
   </extension>
   <extension
         id="miniscout"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.example.miniscout.client.application"
            name="Miniscout">
         <property
               name="appName"
               value="Miniscout">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.example.miniscout.client.editor.Editor"
            default="false"
            extensions="*.json"
            id="com.example.miniscout.client.editor"
            name="Contacts Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.open"
                  label="Open"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.example.miniscout.client.editor.OpenHandler"
            commandId="org.eclipse.ui.file.open">
      </handler>
   </extension>

</plugin>
